{{ define "main" }}

<h1 class="post-title">{{ .Title }}</h1>
    {{ if .Date }}
    <time>{{ .Date.Format "January 2, 2006" }}</time>
    {{ end }}
    <div>
        <p>
        {{ .Content | replaceRE `((?s:role="doc-endnotes">.*?<ol))` "role=\"doc-endnotes\"><hr><h2 id=\"references\">References</h2><ol" | safeHTML }}
        </p>
    </div>
    {{ template "_internal/disqus.html" . }}

    {{ if .Site.Params.enableKofi }}

        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script type='text/javascript'>
            const kofiId = '{{ .Site.Params.Kofi }}';
            kofiwidget2.init('Support Me on Ko-fi', '#29abe0', kofiId);
            kofiwidget2.draw();
        </script>

    {{ end }}


    {{ if .Page.Store.Get "hasMermaid" }}
      <script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
      <script>
        mermaid.initialize({ startOnLoad: true });
      </script>
    {{ end }}


    {{ if (.Params.mermaid) }}
    <!-- MermaidJS support -->
    <script async src="https://unpkg.com/mermaid@8.14.0/dist/mermaid.min.js"></script>
    {{ end }}

    <div class="page-footer">
        {{if .Params.tags}}
        <hr class="footer-divider">
        {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
        {{ end }}
      {{ end }}
    </div>

{{end}}