<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="alternate"
          type="text/turtle"
          href="https://donnywinston.com/elements_of_clojure.dw.ttl"
          title="{{ title }}"
    >
</head>
<body>

<h1>{{ title }}</h1>
<p> {{ description }}</p>

{% for s in scheme_statements %}
{{ s.p | safe }}: {{ s.o | safe }}
{% if not loop.last %}<br/>{% endif %}
{% endfor %}
f'<a href={str(item)}>{label}</a>'
{% for c, statements in statements_for_concept.items() %}
    <h2 id="{{c.split(':')[-1][:-4] }}">{{ c | safe }}</h2>
    {% for s in statements %}
    {{ s.p | safe }}: {{ s.o | safe }}
    {% if not loop.last %}<br/>{% endif %}
    {% endfor %}
{% endfor %}

</body>
</html>