<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="alternate"
          type="text/turtle"
          href="https://donnywinston.com/elements_of_clojure.ttl"
          title="{{ title }}"
    >
    <style>
        body { max-width: 40em; }
    </style>
</head>
<body>

<h1>{{ title }}</h1>
<p> {{ description }}</p>

{% for s in scheme_statements %}
{{ s.p | safe }}: {{ s.o | safe }}
{% if not loop.last %}<br/>{% endif %}
{% endfor %}

<h2>Collections</h2>
{% for c in collections %}
<h3 id="{{ c.id }}">{{ c.link | safe }}</h3>
    {% for m in c.members %}
    {{ m | safe }}{% if not loop.last %}, {% endif %}
    {% endfor %}
{% if not loop.last %}<br/>{% endif %}
{% endfor %}

<h2>Concepts</h2>
<dl>
    {% for c, statements in statements_for_concept.items() %}
    <dt id="{{c.split(':')[-1][:-4] }}">{{ c | safe }}</dt>
        {% for s in statements %}
            <dd>{{ s.p | safe }}: {{ s.o | safe }}</dd>
        {% endfor %}
    {% endfor %}
</dl>

</body>
</html>